body{
    background-color:rgb(0, 0, 0);
}

h1{
    color:rgb(244, 244, 244);
    font-size: 16 px; 
}
h1{
      font-family: "Winky Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }

h2{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color:rgb(244, 244, 244);
    color:rgb(244, 244, 244);
}

h3{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color:rgb(244, 244, 244);
    color:rgb(244, 244, 244);
}

h5{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color:rgb(244, 244, 244);
}

hr{ 
    
    height: 1px;
    width: 1200px;  
    background-color:rgba(163, 163, 163, 0);
}


a:link{
    color: limegreen
}

a:visited{
    color: limegreen;
}



#size{
    position: absolute; top: 175px; left: 500px;
    background-color: rgb(39, 175, 238);
    padding: 15px;
    border-style: ridge;
    border-width: 5px;
    border-color: floralwhite;
    opacity: 40px;
    font-size: 20px
}


#main{
    height: 700px;
    width: 1200px;
    padding: 25px;
    position: absolute; top: 50px; left: 150px;
    background-image: url(graphics/flower.jpg);
    background-repeat: no-repeat;
    
}

#main2{
    height: 700px;
    width: 1200px;
    padding: 25px;
    position: absolute; top: 50px; left: 150px;
    background-image: url(graphics/flower.jpg);
    
}

#main3{
    height: 2150px;
    width: 1200px;
    padding: 25px;
    position: absolute; top: 50px; left: 135px;
    background-color: rgba(18, 73, 125, 0.555);
    background-image: url(graphics/static.png);
    border-style: ridge;
    border-width: 40px;
    border-color: rgb(30, 29, 29);
    background-repeat: no-repeat;
    p{
            font-family: "Winky Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
    }   
}
 

p{
      font-family: "Winky Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      color:rgb(244, 244, 244);
    }